<div class="container">
  <div class="row p-10" >
  <div class="col-sm -6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <p class="card-text">{{JsonData?.name}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm -6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Age</h5>
        <p class="card-text">{{JsonData?.age}}</p>
       
      </div>
    </div>
  </div>
  <div class="col-sm -6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Desigination</h5>
        <p class="card-text">{{JsonData?.desigination}}</p>
      </div>
    </div>
  </div>
</div>

</div>

